body {
  width: 300px;
  font-family:"Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-ser
  font-size: 14px;
  color: #4a4a4a;
}
ul {
  list-style: none;
  padding-left: 1em;
}
li {
  margin: 0.5em 0;
}
li:hover {
  background: #eee;
}
li.H2 {
  margin-left: 1em;
}
li.H3 {
  margin-left: 2em;
}
li.H4 {
  margin-left: 3em;
}
li.H5 {
  margin-left: 4em;
}
li.H6 {
  margin-left: 5em;
}
